:root {
    --transition-duration: 0.25s;
    --transition-timing: ease-in-out;
    --transition-timing-in: ease-in;
    --transition-timing-out: ease-out;
}

html {
    &.js {
        opacity: 0;
    }
    &.no-js,
    &.fonts-loaded {
        opacity: 1;
    }
}

body.lock-scroll {
    overflow: hidden;
    max-height: 100vh;
}

:target:not(.anchor):before {
    /*content: '';*/
    /*display: block;*/
    /*position: relative;*/
    /*width: 0;*/
    /*pointer-events: none;*/
    /*height: var(--dynamic__header-height);*/
    /*margin-top: calc(-1 * var(--dynamic__header-height));*/
}
