.sitchco-app-loading {
    opacity: 0;
}

body.lock-scroll {
    overflow: hidden;
    max-height: 100vh;
}

:target:not(.anchor):before {
    content: '';
    display: block;
    position: relative;
    width: 0;
    pointer-events: none;
    height: var(--dynamic__header-height);
    margin-top: calc(-1 * var(--dynamic__header-height));
}
