:where(.wp-block-sitchco-icon) {
    --sitchco-icon-background-radius: 0;
    --sitchco-icon-background: transparent;
    --sitchco-icon-background-size: 0.8em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

/* Frontend: class on outer wrapper.  Editor preview: class on inner wrapper element*/
:where(.wp-block-sitchco-icon.is-round-background, .wp-block-sitchco-icon > .is-round-background) {
    --sitchco-icon-background-radius: 100%;
}

/* Higher specificity needed to override WordPress color classes */
.wp-block-sitchco-icon.has-background {
    background: transparent !important;
}

:where(.sitchco-icon) {
    --sitchco-icon-svg-size: 1.25em;
    --sitchco-icon-svg-width: var(--sitchco-icon-svg-size);
    --sitchco-icon-svg-height: var(--sitchco-icon-svg-size);
    --sitchco-icon-transform: rotate(0deg);
    display: inline-block;
    vertical-align: middle;
    transform: var(--sitchco-icon-transform);
    position: relative;
    z-index: 0;

    svg {
        display: block;
        width: var(--sitchco-icon-svg-width);
        height: var(--sitchco-icon-svg-height);
    }
}

/* Background pseudo element - only when has background */
:where(.wp-block-sitchco-icon.has-background .sitchco-icon) {
    padding: var(--sitchco-icon-background-size);

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        background-color: var(--sitchco-icon-background);
        border-radius: var(--sitchco-icon-background-radius);
        z-index: -1;
    }

    &.background-size-none {
        --sitchco-icon-background-size: 0;
    }

    &.background-size-sm {
        --sitchco-icon-background-size: 0.4em;
    }

    &.background-size-lg {
        --sitchco-icon-background-size: 1.25em;
    }
}
