.wp-block-sitchco-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &.has-background {
        padding: var(--wp--preset--spacing--20);
        border-radius: 50%;
    }
}

.sitchco-icon {
    --sitchco-icon-svg-size: 1.25em;
    --sitchco-icon-svg-width: var(--sitchco-icon-svg-size);
    --sitchco-icon-svg-height: var(--sitchco-icon-svg-size);
    --sitchco-icon-transform: rotate(0deg);
    display: inline-block;
    vertical-align: middle;
    transform: var(--sitchco-icon-transform);
    svg {
        display: block;
        width: var(--sitchco-icon-svg-width);
        height: var(--sitchco-icon-svg-height);
    }
}
