.wp-block-sitchco-icon {
    --sitchco-icon-svg-size: 1.25em;
    --sitchco-icon-transform: rotate(0deg);
    display: inline-block;
    vertical-align: middle;
}

.sitchco-icon {
    display: inline-block;
    transform: var(--sitchco-icon-transform);
    svg {
        display: block;
        width: var(--sitchco-icon-svg-size);
        height: var(--sitchco-icon-svg-size);
    }
}
