<div class="sitchco-modal__container">
{% if modal.heading %}
    <h2 class="screen-reader-text">{{ modal.heading }}</h2>
{% endif %}
{% if pre_content %}
    <div class="sitchco-modal__pre-content">{{ pre_content }}</div>
{% endif %}
    <div class="sitchco-modal__content">
        {{ modal.content|raw }}
    </div>
    <button class="sitchco-modal__close" type="button" aria-label="Close modal">{{ close }}</button>
</div>
