name: Generate Changesets for Changed Packages

on:
  workflow_call:
    outputs:
      matrix:
        description: "Changed packages matrix"
        value: ${{ jobs.list.outputs.matrix }}
  workflow_dispatch:

jobs:
  list:
    uses: ./.github/workflows/list-changed-packages.yml

  generate-changesets:
    name: Generate Changeset Entries
    needs: list
    if: needs.list.outputs.matrix != '[]'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        package: ${{fromJson(needs.list.outputs.matrix)}}
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: pnpm/action-setup@v2
        with:
          version: 10
      - run: pnpm install
      - name: Build changeset data
        run: |
          node packages/build-tools/versioner/src/build-changeset.mjs ${{ matrix.package.name }}
        shell: bash

      - name: Generate changeset for ${{ matrix.package.name }}
        run: |
          pnpm changeset add --empty --summary "$(cat temp-changeset.md)"
        shell: bash
