name: List Changed Packages
on:
  workflow_call:
    outputs:
      matrix:
        description: "Changed packages matrix"
        value: ${{ jobs.list.outputs.matrix }}
  workflow_dispatch:

jobs:
  list:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - uses: actions/checkout@v3

      - name: Fetch origin/master
        run: git fetch --prune --unshallow --tags origin

      - name: Generate Package Matrix
        run: |
          node packages/build-tools/dev-scripts/src/packages/list-packages.mjs
        shell: bash

      - id: set-matrix
        run: echo "matrix=$(cat packages-matrix.json | jq -c)" >> $GITHUB_OUTPUT
